.myDiv{
    text-align: center;
    color: rgb(219, 65, 27);
    font-size: 24px;
}

.Div{
    text-align: center;
    color: rgb(27, 219, 59);
}

.Button{
    color: aqua;
    background-color: rgb(251, 3, 3);
}


th {
    background-color: bisque;
}

tr :hover{
    background-color: aqua;
}

td{
    text-align: center;
    background-color: rgb(243, 233, 233);
}

